@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="Martynov Maxim" name="author" />
    <meta content="Read The News - most actual news for you" name="description" />
    <title>@ViewBag.Title | Read The News</title>
        
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    
    <link href="~/Content/stylesInspinia.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu" style="display: block;">
                    <li class="nav-header">
                        <div class="dropdown logo">
                            <a class="logo-link" href="/">
                                <span>
                                    <img class="img-squre logo-image" src="~/Content/Images/new-news-logo.png" />
                                </span>
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold site-title">Read The News&nbsp;</strong>
                                    </span>

                                </span>
                            </a>
                        </div>
                        <div class="logo-element">
                            <a href="/">RTN</a>
                        </div>
                    </li>
                    <li class="@ViewBag.RecomendationsActive">
                        <a href="/">
                            <i class="fa fa-home"></i><span class="nav-label">Рекомендации</span>
                        </a>
                    </li>
                    <li class="@ViewBag.ReadItLaterActive">
                        <a href="/RssNews/ReadItLater"><i class="fa fa-clock-o"></i><span class="nav-label">Прочитать позже</span></a>
                    </li>
                    <li class="@ViewBag.MyFavoriteNewsActive">
                        <a href="/RssNews/MyFavoriteNews"><i class="fa fa-heart"></i><span class="nav-label">Избранные новости</span></a>
                    </li>
                    <li class="@ViewBag.MyFavoriteChannelsActive">
                        <a href="#"><i class="fa fa-star"></i><span class="nav-label">Избранные каналы</span></a>
                    </li>
                    <li class="@ViewBag.MyNewsActive">
                        <a href="#"><i class="fa fa-newspaper-o"></i><span class="nav-label">Мои новости</span></a>
                    </li>
                    <li class="@ViewBag.MyRssChannelsActive">
                        <a href="#"><i class="fa fa-rss"></i><span class="nav-label">Мои RSS-каналы</span></a>
                    </li>
                    <li class="@ViewBag.RssChannelsActive">
                        <a href="/RssNews/RssChannels"><i class="fa fa-rss-square"></i><span class="nav-label">RSS-каналы</span></a>
                    </li>
                    <li class="@ViewBag.EmailActive">
                        <a href="#"><i class="fa fa-send-o"></i><span class="nav-label">E-mail рассылка</span></a>
                    </li>
                    <li class="@ViewBag.MySettingsActive">
                        <a href="#"><i class="fa fa-cog"></i><span class="nav-label">Мои настройки</span></a>
                    </li>
                </ul>

            </div>
        </nav>


        <div id="page-wrapper" class="gray-bg">
            <header class="row border-bottom">
                <nav class="navbar navbar-static-top" style="margin-bottom: 0; background-color:#fff;">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <p class="channel-title">@ViewBag.Title</p>
                    </div>
                    @Html.Partial("_LoginPartial")
                </nav>                
            </header>
            @RenderSection("SidebardPanel", required: false)
            <div class="content">
                <div class="row">
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                <div class="col-md-3">
                    
                </div>
            </div>
            <div class="clearfix"></div>
            <footer>
                <strong>&copy; @DateTime.Now.Year</strong> - <strong>ReadTheNews</strong> by <strong>M.M.</strong>
            </footer>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.metisMenu.js"></script>
    <script src="~/Scripts/inspinia.js"></script>
    <script src="~/Scripts/button-actions.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
