@using ReadTheNews.Models
@model RssItem 

<div class="ibox" data-news-id="@Model.Id">
    <div class="ibox-title">
        <div class="col-md-10">
            <h5>
                <a href="@Model.Link">@Model.Title</a>
            </h5>
        </div>
        <div class="btn-group col-md-2 news-buttons">
            <a href="/RssNews/DeleteNewsFromUserNewsList/@Model.Id" class="btn btn-xs btn-primary btn-outline dark remove" data-link-news-id="@Model.Id"><i class="fa fa-remove"></i></a>
            <a href="/RssNews/AddNewFavoriteRssNews/@Model.Id" class="btn btn-xs btn-primary btn-outline dark" data-link-news-id="@Model.Id"><i class="fa fa-heart-o"></i></a>
            <a href="/RssNews/ReadLaterThisNews/@Model.Id" class="btn btn-xs btn-primary btn-outline dark" data-link-news-id="@Model.Id"><i class="fa fa-clock-o"></i></a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            @Html.Partial("NewsImage", Model)
            <p>@Model.Description</p>
        </div>
        <p style="text-align:right">Опубликовано: <strong>@Model.Date.ToLongDateString()</strong></p>
    </div>
</div>
