@using ReadTheNews.Models
@model RssChannel

@{
    ViewBag.Title = "RSS-Каналы";
}

<h2>@Model.Title</h2>
<h4>@Model.Description</h4>
<h6>Обновлено: @Model.PubDate</h6>
<hr />

@foreach (RssItem item in Model.RssItems)
{
    <div class="col-lg-10 gray-bg">
        <div class="ibox">
            <div class="ibox-title">
                <h5><a href="@item.Link">@item.Title</a></h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    @Html.Partial("NewsImage", item)
                    <p>@item.Description</p>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <ul class="list-inline">
                            @{
    Random r = new Random();
                            }
                            @foreach (RssCategory category in item.RssCategories)
                            {
                                string classes = "label label-warning";
                                switch (r.Next(1, 5))
                                {
                                    case 1:
                                        classes = "label label-warning";
                                        break;
                                    case 2:
                                        classes = "label label-info";
                                        break;
                                    case 3:
                                        classes = "label label-success";
                                        break;
                                    case 4:
                                        classes = "label label-primary";
                                        break;
                                }

                                <li class="@classes">@category.Name</li>
                            }

                        </ul>
                    </div>
                    <div class="col-md-3">
                        <p>@item.Date</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
